<%- include('./includes/head') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('./includes/navigation')%>
            <h1>Error : 500 :(</h1>
            <h3>Some Error Occurred!</h3>
            <p>we are working to fix this issue</p>
            <button onclick="location.href='/'" class="btn btn-outline-success">Go to Home</button>
            <%- include('./includes/end') %>