main {
    padding : 5px;
}

.nav-link {
    color : white;
    text-decoration: none;
}
.nav-link:hover {
    color : #f0ad4e;
}

.card {
    margin-right: 15px;
}
.card img {
    height: 180px;
}

.card-group {
    width: 19rem;
    float: left;
}
.details {
    margin-right: 10px;
};

.active {
    color : red !important;
}

.price::-webkit-inner-spin-button,.price::-webkit-outer-spin-button {
    display : none    
}